<div>
  <a href="/">Back to main page</a>
</div>
<hr>

<div class="container">
  <% if(conn == 1) { %>
    <p>This connection is still running.</p>
  <% }) %>
  <% if(conn != 1) { %>
    <p>This connection is not running anymore.</p>
  <% }) %>
</div>
